.banner{
  background-image:linear-gradient(to bottom , #3b5878,#3b5878ab,#5a98c788), url("/img/bg-1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  &__btn{
  }
  & .form_btn{
    background-color: $bg-header;
  }
}
